*{
  font-family: "Cairo", sans-serif;
}

.social-header .container .row .contact-us-btn a {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #0f5ba3;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.carousel-inner .carousel-item img {
  width: 100%;
  height: 400px;
}
.contact-us-form .row .col-md-6 img {
  width: 100%;
}
.contact-us-form .row .contact-us-contant {
  background-color: #f0f0f0;
  padding: 50px 100px;
}
.contact-us-form .row .contact-us-contant form h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #04343c;
}
.contact-us-form {
  padding: 5px 80px;
}
.contact-us-form .row .contact-us-contant form p {
  color: #04343c;
  font-weight: 500;
}
.contact-us-contant .input-group input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: 100%;
  padding: 7px 5px;
  background-color: transparent;
}
.contact-us-contant .input-group input:focus {
  border: 1px solid #000;
  color: #8a8a8a;
}
.contact-us-contant .need-to .form-check .form-check-input{
    background-color: transparent;
    box-shadow: none;
}
.contact-us-contant .need-to .form-check .form-check-input:checked{
    background-color: #0f5ba3;
    border: 1px solid #0f5ba3;
}
.contact-us-contant .submit button{
    background-color: #0f5ba3;
    border: none;
    width: 50%;
    padding: 10px 60px;
    margin: 1px auto;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.contact-us-contant .submit button:hover{
  background-color: #2f669b;
}
.videos{
    padding: 5px 80px;
}
.videos .row .col-md-6{
  position: relative;
}
.videos .row .col-md-6 img{
  width: 100%;
}
.videos .row .col-md-6 .ovarlay{
  position: absolute;
  opacity: 0.2;
  height: 100%;
  width: 96%;
  top: 0;
  right: 11px;
  background-color: #000;
  z-index: 5;
}
.videos .row .col-md-6 h2{
  position: absolute;
  z-index: 25;
  top: 80%;
  left: 10%;
  font-size: 26px;
  color: #fff;
}
.carousel-inner .carousel-item div img{
  width: 200px;
  height: 200px;
}
.quastion{
  padding: 120px ;
  background-color: #f0f0f0;
}
.quastion .row .col-md-12 h2{
  color: #0f5ba3;
  font-size: 62px;
  font-weight: 500;
}
.reports .row .col-md-4 h2{
  font-size: 40px;
  font-weight: bolder;
  color: #ff2d03;
}
.reports .row .col-md-4 h5{
  font-size: 22px;  
}
.reports .row .col-md-4 p{
  font-size: 20px;
}
.quactions-answer .row .col-md-4 .card .card-header svg{
  display: block;
  margin: 1px auto;
}
.quactions-answer .row .col-md-4 .card h2{
  font-size: 18px;
}
.quactions-answer .row .col-md-4 .card p{
  font-size: 14px;
}
.quactions-answer .row .col-md-4 .card{
  transition: 0.5s ease-in-out;
  min-height: 250px;
}
.quactions-answer .row .col-md-4 .card:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
footer{
  padding: 50px;
  text-align: center;
  background-color: #0f5ba3;
  color: #fff;
}

.all-photos  .row .col-md-12 iframe,
.all-photos  .row .col-md-6 iframe{
  border-radius: 15px;
}

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader img {
  width: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@media(max-width:375px){
  .social-header{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}